/* fonts import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    margin: 0;
}
/* navbar part  */
nav>span>ul {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color:#3A3A3A
}

nav li {
    list-style: none;
   
}

nav li,
a {
    text-decoration: none;
    font-size: 1.1em;
    margin-right: 20px;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    
}

.dropdown {
    display: none;
}

nav>span>ul>li:hover>ul {
    display: block;
}
/* first section style  */
.first-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1100px;
    height: 60vh;
    margin: 0 auto;
    margin-top: 30px;

}
.journey-title{
    color:#3A3A3A;
    font-family: 'Poppins', sans-serif;
    font-size: 52px;

}
.journey-p{
   color: #3A3A3A;
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
  
}
.first-image{
   width: 400px;
    Height :400px;
    background-image: url(images/Circle\ design.svg);
    background-size: cover;
}
.link-button{
    color: white;
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px 10px 24px;
    font-family: 'Poppins', sans-serif;
    border-radius: 41px;
    border:4px solid #E02C6D;
    
}
a:hover{
    background-color: #ec81a1;;
   
}
/* logos style  */
.logo-container{
        width: 1100px;
        margin:  0 auto;
}
.logos{

    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 100px 150px;
    /* grid-gap: 20px; */
    
}

/* popular collection part  */
.second-section{
        width: 1100px;
        margin: auto;
}
.popular-title{
    text-align: center;
    color:#3A3A3A;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,329px);
    grid-template-rows: repeat(3,510px);  
    justify-content: space-around;
    grid-row-gap: 40px;
}
.article-title{
    color:#18191F;
    font-size: 28px;
    font-family:'Poppins', sans-serif ;

}
.product{
    width:300px;
    height:490px;
    padding: 15px;
    box-shadow:  5px 5px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

}
.product-image{
    justify-content: space-around;
    
}
.product-image:hover{
    transform: scale(1.2);
    transition: transform 3s ease;
}
h4{
    color:rgba(0, 0, 0, 0.87);
    font-size: 24px;
}
.rating{
    color:#FB8200;
}
span{
    color:#5E6366;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
p{
    color:#787885;
    font-size: 15px;
    font-family:'Roboto', sans-serif ;
}
.see-more{
    color:#E02C6D;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 25px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.fas{
    padding-left: 5px;
}
/* third section part  */
.special-customer{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    text-align: center;
    color:#3A3A3A;
}
.fa-coins,.fa-gem{
    font-size: 60px;
    color:#E02C6D;
}
.membership{
    display: grid;
    grid-template-columns: repeat(3,1fr);
      
    justify-content: space-between;
    align-items: center;
    text-align: center;
    grid-row-gap: 40px;
   
  
}
.customer{
    margin: 20px 20px 40px 20px;
    padding:10px 15px 15px 20px;
    box-shadow:  5px 5px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.silver-head,.diamond-head,.gold-head{
    font-size: 30px;
    color: #3A3A3A;
    font-family:cursive;
}
.price{
    font-size: 45px;
}
/* footer part  */
footer{
    background-color: #0A0826;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:0; 
    color:#FFFFFF;
    
}
.footer-desc{
    color:#FFFFFF;
    font-size: 12px;
}
h2{
    color:#FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;

}
.foot{
   width:262px;
   height:139px;
   text-align: center;
   padding-top:20px;
   padding-bottom: 30px;
}
@media  (max-width:400px) {
    body{
        max-width: 400px;
    }
    .nav-brand{
        font-size: 22px;
        font-weight: 500;
    }
    .nav-items{
        display: none;
    }
    .first-section{
        grid-template-columns: repeat(1,0fr);
        height: fit-content;
        grid-gap: 20px;
        width: 400px;
    }
    .journey{
        order: 2;
    }
    .first-image{
        width: 80%;
    }
    .logo-container{
        width: 300px;
        grid-gap: 10px;
    }
    .logos{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        grid-row-gap: 20px;
    }
    .second-section{
        width: 400px;
    }
    .popular-collection{
        grid-template-columns: repeat(1,0fr);
    }
    .third-section{
        width: 400px;
    }
    .membership{
        grid-template-columns: repeat(1,0fr);
        width: 300px;
        justify-content: center;
    }
    .customer{
        width:100% ;
    }
}



@media (min-width:401px) and (max-width:800px) {
    body{
        max-width: 800px;
    }
    .nav-brand{
        font-size: 22px;
        font-weight: 500;
    }
    .nav-items{
        display: none;
    }
    .first-section{
        grid-template-columns: repeat(1,0fr);
        height: fit-content;
        grid-gap: 20px;
        width: 400px;
    }
    .journey{
        order: 2;
    }
    .first-image{
        width: 80%;
    }
    .logo-container{
        width: 300px;
        grid-gap: 10px;
    }
    .logos{
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        grid-row-gap: 20px;
    }
    .second-section{
        width: 700px;
    }
    .popular-collection{
        grid-template-columns: repeat(2,1fr);
    }
    .third-section{
        width: 700px;
    }
    .membership{
        grid-template-columns: repeat(1,0fr);
        width: 700px;
        justify-content: center;
    }
    .customer{
        width:400px ;
        height: 450px;
    }
    .foot{
        width: 100%;
    }
}